.postCell{
    background-color: rgb(230, 128, 49);
    border-radius: 25px;
    margin: 20px 150px;
    padding: 20px;
    min-width: fit-content;
    min-height: fit-content;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

#profileName{
    font-size: 30px;
    color: white;
    text-shadow: 1.5px 1.5px rgb(0, 0, 0);
}

.postLink{
    font-size: 20px;
    color: white;
    text-decoration: none;
}